{% extends "web_ab/views/templates/base.html" %}
{% block content %}
<header id="banner" class="row">
  <div class="col-md-12">
    <h1 style="width: 4.5em;" class="center-block">Widgets!</h1>
  </div>
</header>

<div id="content" class="row">
  <div id="left-panel" class="col-md-6 jumbotron">
    <h1>Fix everything!</h1>
    <p>These amazing <strong>widgets!</strong> will fix
      <em>everything</em>.</p>
    <p>Let <strong>widgets!</strong> work for you.</p>
  </div>

  <div id="right-panel" class="col-md-6 jumbotron">
    <a href="/purchase/" id="btn-more" class="btn btn-primary btn-lg center-block">
      {{button}}
    </a>
  </div>
</div>

<footer>
</footer>
{% endblock %}
